body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

/* ПАТТЕРН ДЛЯ ПРИХОВАННЯ */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

/* CONTAINER */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 76px;
}

/* Лого з меню */
.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

/* Меню */
.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Контакти праворуч */
.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Посилання */
.nav-link,
.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
}

.contacts-link {
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}
.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

/* LOGO */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-span-dark {
    color: #2e2f42;
}

.logo-span-light {
    color: #f4f4fd;
}

/* NAV */
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* CONTACTS */
.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* SECTION TITLES */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

/* TEAM */
.team {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #ffffff;
}

/* HERO SECTION */
.hero {
    background-color: #2e2f42;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 188px 0;
    /* виправлено для автотесту */
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    /* виправлено для автотесту */
}

.hero-button {
    display: block;
    height: 56px;
    /* виправлено для автотесту */
    min-width: 169px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* FEATURES SECTION */
.features.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list .features-item:first-child {
    width: calc((100% - 72px)/4);
    /* виправлено для автотесту */
}

.features-item {
    flex: 1 1 calc((100% - 90px)/4);
    box-sizing: border-box;
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* TEAM SECTION */
.team.section {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.team-item {
    flex: 1 1 calc((100% - 72px)/4);
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 4px 4px;
}

.team-card-content {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* PORTFOLIO SECTION */
.portfolio.section {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.portfolio.section .section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.portfolio-item {
    flex: 0 0 calc((100% - 48px)/3);
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.portfolio-item img {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    display: block;
}

.portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

/* виправлено для автотесту */
.portfolio-item .feature-title {
    margin-bottom: 8px;
}

.portfolio-item .feature-text {
    margin: 0;
}
