body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* CONTAINER */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 76px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link,
.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    text-decoration: none;
}

.contacts-link {
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* HERO */
.hero.section {
    padding: 188px 0;
    text-align: center;
    background-color: #2e2f42;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
}

.hero-button {
    display: block;
    min-width: 169px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* FEATURES */
.features.section {
    padding: 120px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    flex: 1 1 calc((100% - 72px)/4);
    box-sizing: border-box;
}

.feature-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
}

.feature-text {
    margin-bottom: 24px;
    font-size: 16px;
    color: #434455;
}

/* TEAM */
.team.section {
    padding: 120px 0;
    text-align: center;
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    list-style: none;
}

.team-item {
    flex: 1 1 calc((100% - 72px)/4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-card-content {
    padding: 32px 0;
}

/* PORTFOLIO */
.portfolio.section {
    padding: 120px 0;
    text-align: center;
}

.portfolio.section .section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: flex-start;
    list-style: none;
}

.portfolio-item {
    flex: 0 0 calc((100% - 48px)/3);
    display: flex;
    flex-direction: column;
}

.portfolio-item img {
    width: 360px;
    height: 300px;
}

.portfolio-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 8px;
    align-self: stretch;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 8px;
}

.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
}